<h1>Create User</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :vacationdays %><br />
    <%= f.text_field :vacationdays, :value => 15 %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
