  <tr id="craftsman_list">
    <% if current_user.admin? %>
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Max Vacation Days</th>
          <th>Vacation Days Used</th>
          <th>Vacation Days Remaining</th>
        </tr>
        <% @users.each do |user| %>
          <% if !user.deleted %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.vacationdays %></td>
              <td><%= user.days_used %></td>
              <td><%= user.vacationdays - user.days_used %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>
  </tr>
